<form action="/users/<%= session.user.id %>/root/allow?_method=put" method="post" onsubmit="return allowEps(this);">
  <div class="row center">
    <label><h3>EPS</h3></label>
  </div>
  <div class="row">
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">label_outline</i>
      <input type="text" name="nit" disabled value="<%= allowUser.documentNumber %>">
      <input type="hidden" name="numDocument" value="<%= allowUser.documentNumber %>">
      <label>NIT </label>
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="name" disabled value="<%= allowUser.names %>">
      <input type="hidden" name="names" value="<%= allowUser.names %>">
      <label>Nombre o Razón Social </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">email</i>
      <input type="text" name="correo" disabled value="<%= allowUser.email %>">
      <label>Correo </label>
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">phone</i>
      <input type="text" name="telefono" disabled value="<%= allowUser.epsPhone %>">
      <label>Teléfono </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12 col m12 col s12">
      <i class="material-icons prefix">location_city</i>
      <input type="text" name="direccion" disabled value="<%= allowUser.address %>">
      <label>Direción </label>
    </div>
  </div>
  <div class="row">
    <h4>&nbsp;Persona Responsable</h4>
  </div>
  <div class="row">
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">label_outline</i>
      <label>Tipo de Documento</label>
      <% var dt = (allowUser.documentType).split('-') %>
      <% for (var i in dt) { %>
        <% dt[i] = (dt[i][0]).toUpperCase() + dt[i].slice(1) %>
      <% } %>
      <% allowUser.documentType = dt.join(" ") %>
      <input type="text" name="numDocument" disabled value="<%= allowUser.documentType %>">
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">label_outline</i>
      <label>N° de Documento </label>
      <input type="text" name="numDocumento" disabled value="<%= allowUser.documentNumberPerson %>">
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="nombre" disabled value="<%= allowUser.namesPerson %>">
      <label>Nombre </label>
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="apellidos" disabled value="<%= allowUser.lastnames %>">
      <label>Apellidos </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6 col m6 col s12">
      <% allowUser.gender = (allowUser.gender[0]).toUpperCase() + allowUser.gender.slice(1) %>
      <i class="material-icons prefix">wc</i>
      <label>Género</label>
      <input type="text" name="gender" disabled value="<%= allowUser.gender %>">
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">phone</i>
      <input type="text" name="telefono" disabled value="<%= allowUser.phone %>">
      <label>Telefono </label>
    </div>
  </div>
  <div class="row">
    &nbsp;&nbsp;<i class="material-icons prefix">assignment_ind</i>
    &nbsp;&nbsp;<label>EPS</label>
    <div>
      <p>
        &nbsp;
        <input type="checkbox" class="filled-in" name="aprobarEps" value="aprobar-eps" id="aprobada-check">
        <label for="aprobada-check">Aprobar</label>
      </p>
      <p>
        &nbsp;
        <input type="checkbox" class="filled-in" name="reprobarEps" value="reprobar-eps" id="reprobada-check">
        <label for="reprobada-check">Rechazar</label>
      </p>
    </div>
  </div>
  <div class="row center">
    <input class="btn waves-effect waves-light cyan darken-2" type="submit" name="enviar" value="ACEPTAR">
  </div>
</form>
