<form action="/users/<%= session.user.id %>/<%= session.user.rol.name %>/allow?_method=put" method="post" onsubmit="return allowUsers(this);">
  <div class="row center">
    <label><h3>PACIENTE, MÉDICO GENERAL Y ESPECIALISTA</h3></label>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <label>Tipo de Documento</label>
      <% var dt = (allowUser.documentType).split('-') %>
      <% for (var i in dt) { %>
        <% dt[i] = (dt[i][0]).toUpperCase() + dt[i].slice(1) %>
      <% } %>
      <% allowUser.documentType = dt.join(" ") %>
      <input type="text" name="numDocument" disabled value="<%= allowUser.documentType %>">
    </div>
    <div class="input-field col l6">
      <label>N° de Documento </label>
      <input type="text" name="numDocumento"  disabled value="<%= allowUser.documentNumber %>">
      <input type="hidden" name="numDocument" value="<%= allowUser.documentNumber %>">
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <label>Nombre </label>
      <input type="text" name="nombre"  disabled value="<%= allowUser.names %>">
      <input type="hidden" name="names" value="<%= allowUser.names %>">
    </div>
    <div class="input-field col l6">
      <label>Apellidos </label>
      <input type="text" name="apellidos"  disabled value="<%= allowUser.lastnames %>">
      <input type="hidden" name="lastnames" value="<%= allowUser.lastnames %>">
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <label>Género</label>
      <% allowUser.gender = (allowUser.gender[0]).toUpperCase() + allowUser.gender.slice(1) %>
      <input type="text" name="gender" disabled value="<%= allowUser.gender %>">
    </div>
    <div class="col l6">
      <label>Fecha de Nacimiento </label>
      <input type="date" name="nacimiento" disabled value="<%= allowUser.birthdate %>"><br><br>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <label>Correo </label>
      <input type="text" name="correo" disabled value="<%= allowUser.email %>">
    </div>
    <div class="input-field col l6">
      <label>Telefono </label>
      <input type="text" name="telefono" disabled value="<%= allowUser.phone %>">
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6">
      <label>Dirección </label>
      <input type="text" name="direccion" disabled value="<%= allowUser.address %>">
    </div>
    <div class="input-field col l6">
      <label>EPS Asociada </label>
      <input type="text" name="eps-asociada" disabled value="<%= allowUser.epsRelated %>">
    </div>
  </div>
  <div class="row">
    <% for (var i in allowUser.rol) {%>
      <% var rol = allowUser.rol[i].name %>
      <% allowUser.rol[i].name = (allowUser.rol[i].name[0]).toUpperCase() + allowUser.rol[i].name.slice(1) %>
      <div class="col l4">
        <% if (rol == 'paciente') { %>
          <label><%= allowUser.rol[i].name %></label>
        <% } else { %>
          <label>Médico <%= (allowUser.rol[i].name).split('Medico')[1] %></label>
        <% } %>
        <div>
          <p>
            <input type="checkbox" class="filled-in" name="aprobar<%= rol %>" value="aprobar-<%= rol %>" id="<%= rol %>-aprobada-check">
            <label for="<%= rol %>-aprobada-check">Aprobar</label>
          </p>
          <p>
            <input type="checkbox" class="filled-in" name="rechazar<%= rol %>" value="rechazar-<%= rol %>" id="<%= rol %>-reprobada-check">
            <label for="<%= rol %>-reprobada-check">Rechazar</label>
          </p>
        </div>
      </div>
    <% } %>
  </div>
  <div class="row center">
    <input class="btn waves-effect waves-light" type="submit" name="enviar" value="ACEPTAR">
  </div>
</form>
