<div class="row center">
  <h3>Listado de Solicitudes de Cuentas Pendientes</h3>
</div>
<% if (allUsers.length == 0) {%>
  <form action="/users/<%= session.user.id %>/<%= session.user.rol.name %>" method="get" onclick="alert('No hay Solicitudes por revisar')">
<% } else {%>
  <form action="/users/<%= session.user.id %>/<%= session.user.rol.name %>/pending" method="post">
<% } %>
  <div class="row">
    <div class="col l8 offset-l2 col m8 col s12">
      <select name="requests">
        <% if (allUsers.length == 0) { %>
          <option value="none">No hay solicitudes Pendientes</option>
        <% } else {%>
          <% for (var user in allUsers) { %>
            <option value="<%= allUsers[user].names %>-<%= allUsers[user].documentNumber %>">
              <%= allUsers[user].names %>-<%= allUsers[user].documentNumber %>
            </option>
          <% } %>
        <% } %>
      </select>
    </div>
  </div>
  <div class="row center">
    <input type="submit" class="btn waves-effect waves-light cyan darken-2" value="VER">
  </div>
</form>
