<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MentalHealth</title>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/css/materialize.min.css" rel="stylesheet" media="screen,projection">
    <link href="/css/style.css" rel="stylesheet" media="screen,projection">
  </head>
  <body>
    <div class="row">
      <div class="nav-left col l2">
        <ul>
          <% if (!session.user) { %>
            <li><a href="/">Home</a></li>
            <li><a href="/users/new">Registrarse</a></li>
            <li><a href="/login">Iniciar Sesión</a></li>
            <!--<li class="logout">
              <form action="/logout?_method=delete" method="post">
                <div class="center">
                  <input type="submit" class="link" value="Cerrar Sesión">
                </div>
              </form>
            </li> Si quiere modificar el estilo de logout descomente esto :D -->
          <% } else { %>
            <li><a href="/users/<%= session.user.id %>">Home</a></li>
            <hr><br><h7><b>Cambiar de Rol: </b></h7><br><br>
            <select class="roles" name="roles">
              <% if (Array.isArray(session.user.rol)) { %>
                <% for (var rol in session.user.rol) { %>
                  <% var user = "" %>
                  <% if (session.user.rol[rol].name.toLowerCase() == 'paciente') { %>
                    <% user = 'Paciente' %>
                  <% } else {%>
                    <% user = "Médico " + (session.user.rol[rol].name).split('medico')[1]; %>
                  <% } %>
                  <option name="<%= session.user.rol[rol].name %>" value="<%= session.user.rol[rol].name %>">
                    <%= user %>
                  </option>
                <% } %>
              <% } else {%>
                <option name="<%= session.user.rol.name %>"value="<%= session.user.rol.name %>">
                  <% var name = (session.user.rol.name[0]).toUpperCase() + session.user.rol.name.slice(1) %>
                  <%= name %>
                </option>
              <% } %>
            </select><br><hr>
            <li><a href="#">Editar Rol</a></li>
            <li><a href="#">Editar Perfil</a></li>
            <li class="logout">
              <form action="/logout?_method=delete" method="post">
                <div class="center">
                  <input type="submit" class="link" value="Cerrar Sesión">
                </div>
              </form>
            </li>
          <% } %>
        </ul>
      </div>
      <div class="content col l10 offset-l2">
        <div class="row center">
          <h4>MENTALHEALTH</h4><hr>
        </div>
        <%- body %>
        <% if (session.user && !Array.isArray(session.user.rol)) {%>
          <div class="col l2"><br></div>
          <div class="col l8 center" id="pending">
            <div class="menuUser">
              <br><br>
                <p><b><h5>MENÚ</h5></b></p>
              <br>
              <a href="/users/<%= session.user.id %>/<%= session.user.rol.name %>/pending" class="btn">Aprobación de Cuentas</a>
              <br><br><br>
            </div>
          </div>
        <% } %>
      </div>
    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/select.js"></script>
    <script src="/js/register.js"></script>
    <script src="/js/checkUserFormRegister.js"></script>
    <script src="/js/comparePassword.js"></script>
    <script src="/js/checkDeleteAccount.js"></script>
    <script src="/js/pending.js"></script>
    <script src="/js/allowEps.js"></script>
    <script src="/js/allowUsers.js"></script>
  </body>
</html>
