<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MentalHealth</title>
    <link href="/css/materialize.min.css" rel="stylesheet" media="screen,projection">
    <link href="/css/style.css" rel="stylesheet" media="screen,projection">
  </head>
  <body>
    <header>
      <nav class="top-nav cyan darken-1">
        <div class="container">
          <div class="nav-wrapper center">
            <a class="page-title style-title">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mental Health</a>
            </div>
        </div>
      </nav>

      <% function getIndex(array, match) { %>
        <% for (var i in array) { %>
          <% if (array[i].name == match) return i; %>
        <% } %>
      <% } %>

      <div class="container "><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only "><i class="mdi-navigation-menu"></i></a></div>
      <ul id="nav-mobile" class="side-nav fixed blue lighten-5">
        <% var rolCurr = undefined, rol = undefined, ext = undefined, ok = undefined; %>
        <% if (!session.user) { %>
          <img src="/images/logo.png" alt="Logo" class="responsive-img"><hr/>
          <li class="bold"><a href="/" class="waves-effect waves-teal">Home</a></li>
          <li class="bold"><a href="/users/new" class="waves-effect waves-teal">Registrarse</a></li>
          <li class="bold"><a href="/login" class="waves-effect waves-teal">Iniciar Sesión</a></li>
        <% } else { %>
          <% if (!Array.isArray(session.user.rol)) { %>
            <% if (session.user.rol.photo == null) { %>
              <% rol = "logo" %>
              <% ext = ".png" %>
              <% rolCurr = session.user.rol.name; %>
              <% ok = false %>
            <% } else { %>
              <% rol = (session.rolEdit)? ("-" + session.rolEdit.rol) : ("-" + session.user.rol.name); %>
              <% rolCurr = rol.slice(1); %>
              <% rol = session.user.id + rol; %>
              <% ext = (session.rolEdit)? session.rolEdit.ext : session.user.rol.ext; %>
              <% ok = true %>
            <% } %>
          <% } else { %>
            <% rol = (session.rolEdit)? ("-" + session.rolEdit.rol) : ("-" + session.user.rol[0].name); %>
            <% rolCurr = rol.slice(1); %>
            <% var index = getIndex(session.user.rol, rol.slice(1)); %>
            <% if (session.user.rol[index].photo == null) { %>
              <% rol = "logo" %>
              <% ext = ".png" %>
              <% ok = false %>
            <% } else { %>
              <% rol = session.user.id + rol; %>
              <% ext = (session.rolEdit)? session.rolEdit.ext : session.user.rol[0].ext; %>
              <% ok = true %>
            <% } %>
          <% } %>
          <% ext = ext || tmpExt %>
          <% rol = (ok == true)? ("users/user-" + session.user.id + '/' + rol) : rol %>

          <img src="/images/<%= rol %><%= ext %>" alt="<%= rolCurr %>" class="responsive-img"><hr/>
          <li class="bold"><a href="/users/<%= session.user.id %>/<%= rolCurr %>" class="waves-effect waves-teal">Home</a></li>
            <% if (Array.isArray(session.user.rol)) { %>
              <form action="/users/<%= session.user.id %>/data" method="get">
              <hr/><br><h6><b>Roles: </b></h6><br><br>
                <select class="roles" name="roles">
                  <% for (var rol in session.user.rol) { %>
                    <% var user = "" %>
                    <% if (session.user.rol[rol].name.toLowerCase() == 'paciente') { %>
                      <% user = 'Paciente' %>
                    <% } else { %>
                      <% user = "Médico " + (session.user.rol[rol].name).split('medico')[1]; %>
                    <% } %>
                    <option name="<%= session.user.rol[rol].name %>" value="<%= session.user.rol[rol].name %>"
                      <% if (session.user.rol[rol].name == rolCurr) {%> selected <% } %> >
                      <%= user %>
                    </option>
                  <% } %>
                </select><br>
                <li class="bold"><input type="submit" class="waves-effect waves-teal" name="changes" value="Cambiar Rol"></li>
                <li class="bold"><input type="submit" class="waves-effect waves-teal" name="edit" value="Editar Rol"></li>
              </form>
            <% } else {%>
              <br>
              <% var name = (session.user.rol.name[0]).toUpperCase() + session.user.rol.name.slice(1) %>
              <li class="bold">
                <h6>&nbsp;&nbsp;<b>Rol: </b></h6>
                <a class="nonfuncional"><%= name %></a>
              </li>
            <% } %>

          <% if (rolCurr == 'root' || rolCurr == 'eps') { %>
            <li class="bold"><a href="/users/<%= session.user.id %>/<%= rolCurr %>/edit" class="waves-effect waves-teal">Editar Rol</a></li>
          <% } %>

          <li class="bold"><a href="/users/<%= session.user.id %>/edit" class="waves-effect waves-teal">Editar Perfil</a></li>
          <li class="bold logout">
            <form action="/logout?_method=delete" method="post">
              <div class="">
                <input type="submit" class="waves-effect waves-teal" value="Cerrar Sesión">
              </div>
            </form>
          </li>
        <% } %>
      </ul>
    </header>

    <main>
      <div class="col l10">
        <%- body %>
        <% if (session.user) {%>
          <div class="col l2"><br></div>
          <div class="col l8 center" id="pending">
            <div class="cyan lighten-5">
              <br><br>
                <p><b><h5>MENÚ</h5></b></p>
              <br>
              <div class="collection">
                <% if (rolCurr == 'root') { %>
                  <% include ./users/menu/root.ejs %>
                <% } else if (rolCurr == 'eps') { %>
                  <% include ./users/menu/eps.ejs %>
                <% } else if (rolCurr == 'paciente') { %>
                  <% include ./users/menu/paciente.ejs %>
                <% } else if (rolCurr == 'medicoGeneral') { %>
                  <% include ./users/menu/mGeneral.ejs %>
                <% } else if (rolCurr == 'medicoEspecialista') { %>
                  <% include ./users/menu/mEspecialista.ejs %>
                <% } %>
              </div>
              <br><br><br>
            </div>
          </div>
        <% } %>
        <br />
      </div>
    </main>

    <footer class="page-footer cyan darken-1">
      <div class="container">
        <div class="row">
          <div class="col l3 col m3 col s12">
            <h5 class="white-text">Integrantes</h5>
          </div>
          <div class="col l3 col m3 col s12">
            <ul>
              <li class="grey-text text-lighten-4">Carolina Gomez T</li>
              <li class="grey-text text-lighten-4">Sebastian Duque</li>
            </ul>
          </div>
          <div class="col l3 col m3 col s12">
            <ul>
              <li class="grey-text text-lighten-4">Fernando Santa</li>
              <li class="grey-text text-lighten-4">William Choque</li>
            </ul>
          </div>
          <div class="col l3 col m3 col s12">
            <ul>
              <li class="grey-text text-lighten-4">Nicolas Restrepo</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright cyan darken-3">
        <div class="container">
          <div class="row">
            <div class="col l6 col m6 col s12">
              © 2016 Laboratorio de Software Gr1.
            </div>
            <div class="col l6 col m6 col s12">
              Web Hosting by <b><a href="//sirius.utp.edu.co" target="_blank">Grupo Sirius</a></b>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="/js/jquery.js"></script>
    <script src="/js/materialize.min.js"></script>
    <script src="/js/select.js"></script>
    <script src="/js/register.js"></script>
    <script src="/js/checkUserFormRegister.js"></script>
    <script src="/js/comparePassword.js"></script>
    <script src="/js/checkDeleteAccount.js"></script>
    <script src="/js/pending.js"></script>
    <script src="/js/allowEps.js"></script>
    <script src="/js/allowUsers.js"></script>
    <script src="/js/menu.js"></script>
    <script src="/js/editUser.js"></script>
    <script src="/js/recoveryPassword.js"></script>
    <script src="/js/calendar.js"></script>
  </body>
</html>
