<div class="row center col l12 col m12 col s12">
  <h4>AGENDA</h4><br>
  <table class="bordered striped responsive-table centered height-table">
    <thead>
      <tr>
        <% var header = ["Hora", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"] %>
        <% for(var data in header) { %>
          <th><%= header[data] %></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < 8; i++) { %>
        <tr>
          <% for(var data in header) { %>
            <% if (data == 0) { %>
              <td>
                <%= i %>
              </td>
            <% } else { %>
              <td>
                <input type="checkbox" class="filled-in" name="aprobarEps" value="aprobar-eps" id="aprobada-check-<%= i %>-<%= data %>">
                <label for="aprobada-check-<%= i %>-<%= data %>">Disponible</label>
              </td>
            <% } %>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
