<div class="row center">
  <% var week = calMedico; %>
  <% var keys = Object.keys(week); %>
  <% var size = length; %>
  <hr><h5>AGENDA DE <%= (medico.names).toUpperCase() %> <%= (medico.lastnames).toUpperCase() %></h5><br>
  <div class="row">
    <br><img src="/images/green.png" alt="Verde" />&nbsp;&nbsp;Disponible&nbsp;&nbsp;
    &nbsp;&nbsp;<img src="/images/red.png" alt="Rojo" />&nbsp;&nbsp;Ocupado&nbsp;&nbsp;
    <% if (rol == "paciente") { %>
      &nbsp;&nbsp;<img src="/images/yellow.png" alt="Amarrillo" />&nbsp;&nbsp;Agendada
    <% } %>
    <br><br>
  </div>
  <table class="bordered striped responsive-table centered height-table">
    <thead>
      <tr>
        <% var header = ["Hora", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"] %>
        <% for(var data in header) { %>
          <th style="background: #e0f2f1">
            <%= header[data] %>
            <br><br>
            <%= dateWeek[header[data]] %>
          </th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% var k = 0; %>
      <% for(var i = 0; i < size; i++) { %>
        <tr>
          <% for (var j in week[i + ""]) { %>
            <% if (j == 0) { %>
              <td style="background: #e0f2f1"><%= hourRow[k++] %></td>
              <% if (choose) { %>
                <% if (choose.id && week[i + ""][j].hour == choose.hour && choose.day == j) { %>
                  <td style="background: #ffcc80"></td>
                <% } else { %>
                  <td style="<%= week[i + ""][j].color %>"></td>
                <% } %>
              <% } else { %>
                <td style="<%= week[i + ""][j].color %>"></td>
              <% } %>

            <% } else { %>
              <% if (choose) { %>
                <% if (choose.id && week[i + ""][j].hour == choose.hour && choose.day == j) { %>
                  <td style="background: #ff9100"></td>
                <% } else { %>
                  <td style="<%= week[i + ""][j].color %>"></td>
                <% } %>
              <% } else { %>
                <td style="<%= week[i + ""][j].color %>"></td>
              <% } %>
            <% } %>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>
  <% if (empty) { %>
    <h2>La Agenda no se encuentra Disponible</h2>
  <% } %>
  <div class="row center col l12 col m12 col s12">
    <br><br>
    <% if (rol == "paciente") { %>
      <% if (!empty && exist) { %>
        <div class="row center col l12 col m12 col s12">
          <form action="/users/<%= session.user.id %>/paciente/calendar/edit" method="get">
            <input type="hidden" name="medico" value="<%= medico.id %>">
            <input class="waves-effect waves-light btn cyan darken-2" type="submit" name="button" value="MODIFICAR CITA">
          </form>
        </div>
        <div class="row center col l12 col m12 col s12">
          <form action="/users/<%= session.user.id %>/paciente/calendar?_method=DELETE" method="post">
            <input type="hidden" name="medico" value="<%= medico.id %>">
            <input class="btn waves-effect waves-light red lighten-1" onclick="return checkedDeleted('Cita de la Agenda');" type="submit" name="button" value="ELIMINAR CITA">
          </form>
        </div>
      <% } %>
      <a class="waves-effect waves-light btn cyan darken-2" href="/users/<%= session.user.id %>/paciente/pendingList">
        VOLVER
      </a>
    <% } else { %>
      <a class="waves-effect waves-light btn cyan darken-2" href="/users/<%= session.user.id %>/<%= rol %>/initTime">
        VOLVER
      </a>
    <% } %>
  </div>
</div>
