<div class="row center">
  <% var week = calMedico; %>
  <% var keys = Object.keys(week); %>
  <% var size = length; %>
  <hr><h5>AGENDA DE <%= (medico.names).toUpperCase() %> <%= (medico.lastnames).toUpperCase() %></h5><br>
  <table class="bordered striped responsive-table centered height-table">
    <thead>
      <tr>
        <% var header = ["Hora", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"] %>
        <% for(var data in header) { %>
          <th style="background: #e0f2f1"><%= header[data] %></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% var k = 0; %>
      <% for(var i = 0; i < size; i++) { %>
        <tr>
          <% for (var j in week[i + ""]) { %>
            <% if (j == 0) { %>
              <td style="background: #e0f2f1"><%= hourRow[k++] %></td>
            <% } else { %>
              <td style="<%= week[i + ""][j].color %>"></td>
            <% } %>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
