  <div class="row">
    <hr>
    <center><label><h4>ROOT DEL SISTEMA</label></h4></center>
  </div>
  <div class="row">
    <div class="col l6 col m6 col s12">
      <i class="material-icons prefix">label_outline</i>
      <label >Tipo de Documento </label>
      <select name="typeDocument">
        <option value="cédula-de-ciudadanía" <% if (session.user.documentType == 'cédula-de-ciudadanía') { %> selected <% } %> >
        Cédula de Ciudadanía
        </option>
        <option value="cédula-de-extranjería" <% if (session.user.documentType == 'cédula-de-extranjería') { %> selected <% } %> >
        Cédula de Extranjería
        </option>
        <option value="pasaporte" <% if (session.user.documentType == 'pasaporte') { %> selected <% } %> >
        Pasaporte
        </option>
        <option value="id" <% if (session.user.documentType == 'id') { %> selected <% } %> >
        Id
        </option>
      </select>
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">label_outline</i>
      <input type="text" name="numDocument" id="numDocumento" autocomplete="off" value="<%= session.user.documentNumber %>" class="validate">
      <label for="numDocumento">N° de Documento </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="names" id="nombre" autocomplete="off" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+" value="<%= session.user.names %>" class="validate">
      <label for="nombre">Nombres </label>
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">perm_identity</i>
      <input type="text" name="lastnames" id="apellidos" autocomplete="off" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+" value="<%= session.user.lastnames %>" class="validate">
      <label for="apellidos">Apellidos </label>
    </div>
  </div>
  <div class="row">
    <div class="col l6 col m6 col s12">
      <i class="material-icons prefix">wc</i>
      <label >Género </label>
      <select name="gender" class="validate">
        <option value="masculino" <% if (session.user.gender == 'masculino') { %> selected <% } %> > Masculino</option>
        <option value="femenino" <% if (session.user.gender == 'femenino') { %> selected <% } %> > Femenino</option>
      </select>
    </div>
    <div class="col l6 col m6 col s12">
      <i class="material-icons prefix">today</i>
      <label for="nacimiento">Fecha de Nacimiento </label>
      <input type="text" name="birthdate" id="birthdate" placeholder="mm/dd/aaaa" required="" aria-required="true" value="<%= session.user.birthdate %>" class="datepicker validate"><br><br>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">email</i>
      <input type="text" name="mail" id="correo" autocomplete="off"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" value="<%= session.user.email %>" class="validate">
      <label for="correo">Correo </label>
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">phone</i>
      <input type="text" name="phone" id="telefono" autocomplete="off" value="<%= session.user.phone %>" pattern="[0-9]+" class="validate">
      <label for="telefono">Telefono </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l12 col m12 col s12">
      <i class="material-icons prefix">location_city</i>
      <input type="text" name="address" autocomplete="off" id="direccion" value="<%= session.user.address %>" class="validate">
      <label for="direccion">Dirección </label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">lock_outline</i>
      <input type="password" name="pwd" id="pwd"
        pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="validate">
      <label for="pwd">Nueva Contraseña </label>
    </div>
    <div class="input-field col l6 col m6 col s12">
      <i class="material-icons prefix">lock</i>
      <input type="password" name="cpwd" id="cpwd"
        pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="validate">
      <label for="cpwd">Confirmar Contraseña </label>
    </div>
  </div>
  <div class="row">
    <div class="col l12 col m12 col s12">
      <i class="material-icons prefix">announcement</i>
      <label>Nota: </label>
      <ul class="collection">
        <li class="collection-item dismissable">Las contraseñas deberán ser de mínimo 8 carácteres.</li>
        <li class="collection-item dismissable">Deberá contener al menos una letra mayúscula.</li>
        <li class="collection-item dismissable">Deberá tener una minuscula y algunos números.</li>
        <li class="collection-item dismissable">Por ejemplo: Aabc1234</li>
      </ul>
    </div>
  </div>
