<div class="row">
  <hr>
  <center><label><h4>REGISTRO PACIENTES, MÉDICOS GENERALES Y ESPECIALISTAS</label></h4></center>
</div>
<div class="row">
  <div class="col l6 col m6 col s12">
    <i class="material-icons prefix">label_outline</i>
    <label >Tipo de Documento </label>
    <select name="typeDocument">
      <option value="cédula-de-ciudadanía" <% if (session.user.documentType == 'cédula-de-ciudadanía') { %> selected <% } %> >
      Cédula de Ciudadanía
      </option>
      <option value="cédula-de-extranjería" <% if (session.user.documentType == 'cédula-de-extranjería') { %> selected <% } %> >
      Cédula de Extranjería
      </option>
      <option value="pasaporte" <% if (session.user.documentType == 'pasaporte') { %> selected <% } %> >Pasaporte
      </option>
      <option value="id" <% if (session.user.documentType == 'id') { %> selected <% } %> >
      Id
      </option>
    </select>
  </div>
  <div class="input-field col l6 col m6 col s12">
    <i class="material-icons prefix">label_outline</i>
    <input type="text" name="numDocument" id="numDocumento" disabled value="<%= session.user.documentNumber %>" class="validate">
    <label for="numDocumento">N° de Documento </label>
  </div>
</div>
<div class="row">
  <div class="input-field col l6 col m6 col s12">
    <i class="material-icons prefix">perm_identity</i>
    <input type="text" name="names" id="nombre" pattern="[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+" value="<%= session.user.names %>" class="validate">
    <label for="nombre">Nombres </label>
  </div>
  <div class="input-field col l6 col m6 col s12">
    <i class="material-icons prefix">perm_identity</i>
    <input type="text" name="lastnames" id="apellidos" pattern="[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+" value="<%= session.user.lastnames %>" class="validate">
    <label for="apellidos">Apellidos </label>
  </div>
</div>
<div class="row">
  <div class="col l6 col m6 col s12">
    <i class="material-icons prefix">wc</i>
    <label >Género </label>
    <select name="gender" class="validate">
      <option value="masculino" <% if (session.user.gender == 'masculino') { %> selected <% } %> >Masculino</option>
      <option value="femenino" <% if (session.user.gender == 'femenino') { %> selected <% } %> >Femenino</option>
    </select>
  </div>
  <div class="col l6 col m6 col s12">
    <i class="material-icons prefix">today</i>
    <label for="nacimiento">Fecha de Nacimiento </label>
    <input type="date" name="birthdate" value="<%= session.user.birthdate %>" class="validate"><br><br>
  </div>
</div>
<div class="row">
  <div class="input-field col l6 col m6 col s12">
    <i class="material-icons prefix">email</i>
    <input type="text" name="mail" id="correo"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" value="<%= session.user.email %>" class="validate">
    <label for="correo">Correo </label>
  </div>
  <div class="input-field col l6 col m6 col s12">
    <i class="material-icons prefix">phone</i>
    <input type="text" name="phone" id="telefono" pattern="[0-9]+" value="<%= session.user.phone %>" class="validate">
    <label for="telefono">Telefono </label>
  </div>
</div>
<div class="row">
  <div class="input-field col l6 col m6 col s12">
    <i class="material-icons prefix">location_city</i>
    <input type="text" name="address" id="direccion" value="<%= session.user.address %>" class="validate">
    <label for="direccion">Dirección </label>
  </div>
  <div class="input-field col l6 col m6 col s12">
    <i class="material-icons prefix">supervisor_account</i>
    <input type="text" name="epsRelated" id="eps-asociada" pattern="[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+" value="<%= session.user.epsRelated %>" class="validate">
    <label for="eps-asociada">EPS Asociada </label>
  </div>
</div>
<div class="row">
  <div class="col l12 col m12 col s12">
    <i class="material-icons prefix">assignment_ind</i>
    <label>Roles </label>
    <div>
      <% for (var rol in session.user.rol) { %>
        <% var name = session.user.rol[rol].name %>
        <% name = (name == 'paciente')? 'Paciente' : ('Médico ' + name.split('medico')[1]) %>
        <p>
          <input type="checkbox" class="filled-in" name="<%= session.user.rol[rol].name %>" value="<%= session.user.rol[rol].name %>" checked disabled>
          <label><%= name %></label>
        </p>
      <% } %>
    </div>
  </div>
</div>
<div class="row">
  <div class="input-field col l6 col m6 col s12">
    <i class="material-icons prefix">lock_outline</i>
    <input type="password" name="pwd" id="pwdUser"
      pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="validate">
    <label for="pwdUser">Nueva Contraseña </label>
  </div>
  <div class="input-field col l6 col m6 col s12">
    <i class="material-icons prefix">lock</i>
    <input type="password" name="cpwd" id="cpwdUser"
      pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" class="validate">
    <label for="cpwdUser">Confirmar Contraseña </label>
  </div>
</div>
