<div class="row center col l12 col m12 col s12">
	<br><br>
	<h4>Listado de Historias Clínicas de <%= user.names %> <%= user.lastnames%></h4>
	<% var mode = (view)? "visualizar" : "modificar" %>
	<% var option = (view)? "show" : "edit" %>
	<br>
	<label>Elija el número de la historia clinica que desea <%= mode %></label>
	<form action="/users/<%= session.user.id %>/<%= rol %>/clinicHistory/<%= option %>" method="get">
		 <div class="row center col l8 offset-l2 col m12 col s12"><br>
			<select name="numPage">
				<% for (var i in history) { %>
					<% var json = JSON.stringify({index: i, history: history[i]}) %>
					<option value="<%= json %>">Historia N°<%= Number(i) + 1 %></option>
				<% } %>
			</select>
		</div>
		<div class="row center col l12 col m12 col s12">
			<% if (view) { %>
				<input type="submit" class="waves-effect waves-light btn cyan darken-2" name="button" value="VER"/>
			<% } else { %>
				<input type="submit" class="waves-effect waves-light btn cyan darken-2" name="button" value="EDITAR"/>
			<% } %>
		</div>
	</form>
</div>