<form action="/users/<%= session.user.id %>/<%= rol %>/clinicHistory/edit?_method=put" method="post">
  <div class="container">
    <div class="center">
      <h2>HISTORIA CLINICA</h2><br>
    </div>
    <div class="row">
      <h3>Datos Filiatorios</h3>
    </div>
    <div class="row">
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">perm_identity</i>
        <input type="text" name="names" id="names" autocomplete="off" value="<%= history.names %>" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
        <label for="names">Nombres</label>
      </div>
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">perm_identity</i>
        <input type="text" name="lastnames" id="lastnames" autocomplete="off" value="<%= history.lastnames %>" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
        <label for="lastnames">Apellidos</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">add</i>
        <input type="text" name="age" id="age" autocomplete="off" value="<%= history.age %>" class="validate" pattern="[0-9]+">
        <label for="age">Edad</label>
      </div>
      <div class="col l6 col m6 col s12">
        <i class="material-icons prefix">wc</i>
        <label >Género </label>
        <select name="gender" class="validate">
          <option value="masculino" <% if (history.gender == "masculino") { %> selected <% } %>>Masculino</option>
          <option value="femenino" <% if (history.gender == "femenino") { %> selected <% } %>>Femenino</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">card_travel</i>
        <input type="text" name="job" id="job" autocomplete="off" value="<%= history.job %>" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
        <label for="job">Ocupación</label>
      </div>
      <div class="col l6 col m6 col s12">
        <i class="material-icons prefix">today</i>
        <label for="birthdate">Fecha de Nacimiento </label>
        <input type="text" name="birthdate" id="birthdate" value="<%= history.birthdate %>" placeholder="mm/dd/aaaa" class="datepicker validate"><br><br>
      </div>
    </div>
    <div class="row">
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">add</i>
        <input type="hidden" name="page" value="<%= page %>">
        <input type="text" name="numH" id="numH" autocomplete="off" value="<%= page %>" disabled class="validate" pattern="[0-9]+">
        <label for="numH">Número de Historia</label>
      </div>
      <div class="col l6 col m6 col s12">
        <i class="material-icons prefix">wc</i>
        <label>Estado Civil </label>
        <select name="state" class="validate">
          <option value="soltero" <% if (history.civilStatus == "soltero") { %> selected <% } %>>Soltero(a)</option>
          <option value="casado" <% if (history.civilStatus == "casado") { %> selected <% } %>>Casado(a)</option>
          <option value="divorciado" <% if (history.civilStatus == "divorciado") { %> selected <% } %>>Divorciado(a)</option>
          <option value="viudo" <% if (history.civilStatus == "viudo") { %> selected <% } %>>Viudo(a)</option>
          <option value="union-libre" <% if (history.civilStatus == "union-libre") { %> selected <% } %>>Unión Libre</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">label_outline</i>
        <input type="text" name="document" id="document" value="<%= history.documentNumber %>" autocomplete="off" class="validate">
        <label for="document">DNI</label>
      </div>
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">public</i>
        <input type="text" name="nacion" id="nacion" autocomplete="off" value="<%= history.nacionality %>" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
        <label for="nacion">Nacionalidad</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">pin_drop</i>
        <input type="text" name="currAddr" id="currAddr" value="<%= history.currAddress %>" autocomplete="off" class="validate">
        <label for="currAddr">Residencia Actual</label>
      </div>
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">place</i>
        <input type="text" name="pastAddr" id="pastAddr" value="<%= history.pastAddress %>" autocomplete="off" class="validate">
        <label for="pastAddr">Residencia Anterior</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">school</i>
        <input type="text" name="grade" id="grade" value="<%= history.educationLevel %>" autocomplete="off" class="validate">
        <label for="grade">Grado de Instrucción</label>
      </div>
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">chrome_reader_mode</i>
        <input type="text" name="religion" id="religion" autocomplete="off" value="<%= history.religion %>" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
        <label for="religion">Religión</label>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="input-field col l12 col m12 col s12">
        <i class="material-icons prefix">create</i>
        <textarea id="reasonCons" name="reasonCons" value="<%= history.reasonConsultation %>" class="materialize-textarea"></textarea>
        <label for="reasonCons">Motivo de la Consulta</label>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="input-field col l12 col m12 col s12">
        <i class="material-icons prefix">local_hospital</i>
        <textarea id="history" name="history" value="<%= history.diseaseHistory %>" class="materialize-textarea"></textarea>
        <label for="history">Antecedentes de la Enfermedad</label>
      </div>
    </div>
    <br>
    <h3>Antecedentes Heredo Familiares</h3><br>
    <div class="row">
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">perm_identity</i>
        <input type="text" name="parentsNames" id="parentsNames" value="<%= history.parentsNames %>" autocomplete="off" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
        <label for="parentsNames">Padres</label>
      </div>
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">perm_identity</i>
        <input type="text" name="parentsAlive" id="parentsAlive" autocomplete="off" value="<%= history.parentsAlive %>" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
        <label for="parentsAlive">Vivos</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">error_outline</i>
        <input type="text" name="parentsDead" id="parentsDead" autocomplete="off" value="<%= history.parentsDead %>" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
        <label for="parentsDead">Fallecidos</label>
      </div>
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">subject</i>
        <textarea id="parentsReasons" name="parentsReasons" value="<%= history.parentsReasons %>" class="materialize-textarea"></textarea>
        <label for="parentsReasons">Causas</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">perm_identity</i>
        <input type="text" name="sibNames" id="sibNames" autocomplete="off" value="<%= history.sibNames %>" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
        <label for="sibNames">Hermanos</label>
      </div>
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">perm_identity</i>
        <input type="text" name="sibAlive" id="sibAlive" autocomplete="off" value="<%= history.sibAlive %>" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
        <label for="sibAlive">Vivos</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">error_outline</i>
        <input type="text" name="sibDead" id="sibDead" autocomplete="off" value="<%= history.sibDead %>" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
        <label for="sibDead">Fallecidos</label>
      </div>
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">subject</i>
        <textarea id="sibReasons" name="sibReasons" value="<%= history.sibReasons %>" class="materialize-textarea"></textarea>
        <label for="sibReasons">Causas</label>
      </div>
    </div>
      <div class="row">
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">perm_identity</i>
        <input type="text" name="sonNames" id="sonNames" value="<%= history.sonNames %>" autocomplete="off" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
        <label for="sonNames">Hijos</label>
      </div>
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">perm_identity</i>
        <input type="text" name="sonAlive" id="sonAlive" autocomplete="off" value="<%= history.sonAlive %>" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
        <label for="sonAlive">Vivos</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">error_outline</i>
        <input type="text" name="sonDead" id="sonDead" autocomplete="off" value="<%= history.sonDead %>" class="validate" pattern="(?=^.{2,}$)[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
        <label for="sonDead">Fallecidos</label>
      </div>
      <div class="input-field col l6 col m6 col s12">
        <i class="material-icons prefix">subject</i>
        <textarea id="sonReasons" name="sonReasons" value="<%= history.sonReasons %>" class="materialize-textarea"></textarea>
        <label for="sonReasons">Causas</label>
      </div>
    </div>
    <div class="row">
      <div class="col l2 col s12">
        <b>DBT</b><br><br>
        <div>
          <input type="radio" class="with-gap" name="DBTParents" <% if (history.DBTParents == "si") { %> checked <% } %> id="DBTParents-si" value="si"/>
          <label for="DBTParents-si">Si</label>
        </div><br>
        <div>
          <input type="radio" class="with-gap" name="DBTParents" <% if (history.DBTParents == "no") { %> checked <% } %>  id="DBTParents-no" value="no"/>
          <label for="DBTParents-no">No</label>
        </div>
      </div>
      <div class="input-field col l10 col s12">
        <i class="material-icons prefix">chat</i>
        <textarea id="DBTParentsR" name="DBTParentsR" value="<%= history.DBTParentsR %>" class="materialize-textarea"></textarea>
        <label for="DBTParentsR">Observaciones</label>
      </div>
    </div><br>
    <div class="row">
      <div class="col l2 col s12">
        <b>HTA</b><br><br>
        <div>
          <input type="radio" class="with-gap" name="HTAParents" <% if (history.HTAParents == "si") { %> checked <% } %> id="HTAParents-si" value="si"/>
          <label for="HTAParents-si">Si</label>
        </div><br>
        <div>
          <input type="radio" class="with-gap" name="HTAParents" <% if (history.HTAParents == "no") { %> checked <% } %> id="HTAParents-no" value="no"/>
          <label for="HTAParents-no">No</label>
        </div>
      </div>
      <div class="input-field col l10 col s12">
        <i class="material-icons prefix">chat</i>
        <textarea id="HTAParentsR" name="HTAParentsR" value="<%= history.HTAParentsR %>" class="materialize-textarea"></textarea>
        <label for="HTAParentsR">Observaciones</label>
      </div>
    </div><br>
    <div class="row">
      <div class="col l2 col s12">
        <b>TBC</b><br><br>
        <div>
          <input type="radio" class="with-gap" name="TBCParents" <% if (history.TBCParents == "si") { %> checked <% } %> id="TBCParents-si" value="si"/>
          <label for="TBCParents-si">Si</label>
        </div><br>
        <div>
          <input type="radio" class="with-gap" name="TBCParents" <% if (history.TBCParents == "no") { %> checked <% } %> id="TBCParents-no" value="no"/>
          <label for="TBCParents-no">No</label>
        </div>
      </div>
      <div class="input-field col l10 col s12">
        <i class="material-icons prefix">chat</i>
        <textarea id="TBCParentsR" name="TBCParentsR" value="<%= history.TBCParentsR %>" class="materialize-textarea"></textarea>
        <label for="TBCParentsR">Observaciones</label>
      </div>
    </div><br>
    <div class="row">
      <div class="col l2 col s12">
        <b>Gemelar</b><br><br>
        <div>
          <input type="radio" class="with-gap" name="gemelarParents" <% if (history.gemelarParents == "si") { %> checked <% } %> id="gemelarParents-si" value="si"/>
          <label for="gemelarParents-si">Si</label>
        </div><br>
        <div>
          <input type="radio" class="with-gap" name="gemelarParents" <% if (history.gemelarParents == "no") { %> checked <% } %> id="gemelarParents-no" value="no"/>
          <label for="gemelarParents-no">No</label>
        </div>
      </div>
      <div class="input-field col l10 col s12">
        <i class="material-icons prefix">chat</i>
        <textarea id="gemelarParentsR" name="gemelarParentsR" value="<%= history.gemelarParentsR %>" class="materialize-textarea"></textarea>
        <label for="gemelarParentsR">Observaciones</label>
      </div>
    </div><br>
    <div class="row">
      <div class="col l2 col s12">
        <b>Otras</b><br><br>
        <div>
          <input type="radio" class="with-gap" name="otherParents" <% if (history.otherParents == "si") { %> checked <% } %> id="otherParents-si" value="si"/>
          <label for="otherParents-si">Si</label>
        </div><br>
        <div>
          <input type="radio" class="with-gap" name="otherParents" <% if (history.otherParents == "no") { %> checked <% } %> id="otherParents-no" value="no"/>
          <label for="otherParents-no">No</label>
        </div>
      </div>
      <div class="input-field col l10 col s12">
        <i class="material-icons prefix">chat</i>
        <textarea id="otherParentsR" name="otherParentsR" value="<%= history.otherParentsR %>" class="materialize-textarea"></textarea>
        <label for="otherParentsR">Observaciones</label>
      </div>
    </div><br>
    <h3>Antecedentes Personales</h3><br>
    <div class="row">
      <b>1) Hábitos Tóxicos:</b><br><br>
      <div class="input-field col l12 m12 s12">
        <i class="material-icons prefix">bookmark</i>
        <textarea id="alcohol" name="alcohol" value="<%= history.alcohol %>" class="materialize-textarea"></textarea>
        <label for="alcohol">Alcohol</label>
      </div>
      <div class="input-field col l12 m12 s12">
        <i class="material-icons prefix">bookmark</i>
        <textarea id="snuff" name="snuff" value="<%= history.snuff %>" class="materialize-textarea"></textarea>
        <label for="snuff">Tabaco</label>
      </div>
      <div class="input-field col l12 m12 s12">
        <i class="material-icons prefix">bookmark</i>
        <textarea id="drugs" name="drugs" value="<%= history.drugs %>" class="materialize-textarea"></textarea>
        <label for="drugs">Drogas</label>
      </div>
      <div class="input-field col l12 m12 s12">
        <i class="material-icons prefix">bookmark</i>
        <textarea id="infusions" name="infusions" value="<%= history.infusions %>" class="materialize-textarea"></textarea>
        <label for="infusions">Infusiones</label>
      </div>
    </div><br>
    <div class="row">
      <b>2) Fisiológicos:</b><br><br>
      <div class="input-field col l12 m12 s12">
        <i class="material-icons prefix">note</i>
        <textarea id="feeding" name="feeding" value="<%= history.feeding %>" class="materialize-textarea"></textarea>
        <label for="feeding">Alimentación</label>
      </div>
      <div class="input-field col l12 m12 s12">
        <i class="material-icons prefix">note</i>
        <textarea id="dipsia" name="dipsia" value="<%= history.dipsia %>" class="materialize-textarea"></textarea>
        <label for="dipsia">Dipsia</label>
      </div>
      <div class="input-field col l12 m12 s12">
        <i class="material-icons prefix">note</i>
        <textarea id="diuresia" name="diuresia" value="<%= history.diuresia %>" class="materialize-textarea"></textarea>
        <label for="diuresia">Diuresia</label>
      </div>
      <div class="input-field col l12 m12 s12">
        <i class="material-icons prefix">note</i>
        <textarea id="catarsis" name="catarsis" value="<%= history.catarsis %>" class="materialize-textarea"></textarea>
        <label for="catarsis">Catarsis</label>
      </div>
      <div class="input-field col l12 m12 s12">
        <i class="material-icons prefix">note</i>
        <textarea id="somnia" name="somnia" value="<%= history.somnia %>" class="materialize-textarea"></textarea>
        <label for="somnia">Somnia</label>
      </div>
      <div class="input-field col l12 m12 s12">
        <i class="material-icons prefix">note</i>
        <textarea id="othersFis" name="othersFis" value="<%= history.othersFis %>" class="materialize-textarea"></textarea>
        <label for="othersFis">Otros</label>
      </div>
    </div><br>
    <div class="row">
      <b>3) Patológicos:</b><br><br>
      <div class="input-field col l12 m12 s12">
        <i class="material-icons prefix">note</i>
        <textarea id="infancy" name="infancy" value="<%= history.infancy %>" class="materialize-textarea"></textarea>
        <label for="infancy">Infancia</label>
      </div>
      <div class="input-field col l12 m12 s12">
        <i class="material-icons prefix">note</i>
        <textarea id="adult" name="adult" value="<%= history.adult %>" class="materialize-textarea"></textarea>
        <label for="adult">Adulto</label>
      </div>
    </div>
    <div class="row">
      <div class="col l2 col s12">
        <b>DBT</b><br><br>
        <div>
          <input type="radio" class="with-gap" name="DBT" <% if (history.DBT == "si") { %> checked <% } %> id="DBT-si" value="si"/>
          <label for="DBT-si">Si</label>
        </div><br>
        <div>
          <input type="radio" class="with-gap" name="DBT" <% if (history.DBT == "no") { %> checked <% } %> id="DBT-no" value="no"/>
          <label for="DBT-no">No</label>
        </div>
      </div>
      <div class="input-field col l10 col s12">
        <i class="material-icons prefix">chat</i>
        <textarea id="DBTReasons" name="DBTReasons" value="<%= history.DBTReasons %>" class="materialize-textarea"></textarea>
        <label for="DBTReasons">Observaciones</label>
      </div>
    </div><br>
    <div class="row">
      <div class="col l2 col s12">
        <b>HTA</b><br><br>
        <div>
          <input type="radio" class="with-gap" name="HTA" <% if (history.HTA == "si") { %> checked <% } %> id="HTA-si" value="si"/>
          <label for="HTA-si">Si</label>
        </div><br>
        <div>
          <input type="radio" class="with-gap" name="HTA" <% if (history.HTA == "no") { %> checked <% } %> id="HTA-no" value="no"/>
          <label for="HTA-no">No</label>
        </div>
      </div>
      <div class="input-field col l10 col s12">
        <i class="material-icons prefix">chat</i>
        <textarea id="HTAReasons" name="HTAReasons" value="<%= history.HTAReasons %>" class="materialize-textarea"></textarea>
        <label for="HTAReasons">Observaciones</label>
      </div>
    </div><br>
    <div class="row">
      <div class="col l2 col s12">
        <b>TBC</b><br><br>
        <div>
          <input type="radio" class="with-gap" name="TBC" <% if (history.TBC == "si") { %> checked <% } %> id="TBC-si" value="si"/>
          <label for="TBC-si">Si</label>
        </div><br>
        <div>
          <input type="radio" class="with-gap" name="TBC" <% if (history.TBC == "no") { %> checked <% } %> id="TBC-no" value="no"/>
          <label for="TBC-no">No</label>
        </div>
      </div>
      <div class="input-field col l10 col s12">
        <i class="material-icons prefix">chat</i>
        <textarea id="TBCReasons" name="TBCReasons" value="<%= history.TBCReasons %>" class="materialize-textarea"></textarea>
        <label for="TBCReasons">Observaciones</label>
      </div>
    </div><br>
    <div class="row">
      <div class="col l2 col s12">
        <b>Gemelar</b><br><br>
        <div>
          <input type="radio" class="with-gap" name="gemelar" <% if (history.gemelar == "si") { %> checked <% } %> id="gemelar-si" value="si"/>
          <label for="gemelar-si">Si</label>
        </div><br>
        <div>
          <input type="radio" class="with-gap" name="gemelar" <% if (history.gemelar == "no") { %> checked <% } %> id="gemelar-no" value="no"/>
          <label for="gemelar-no">No</label>
        </div>
      </div>
      <div class="input-field col l10 col s12">
        <i class="material-icons prefix">chat</i>
        <textarea id="gemelarReasons" name="gemelarReasons" value="<%= history.gemelarReasons %>" class="materialize-textarea"></textarea>
        <label for="gemelarReasons">Observaciones</label>
      </div>
    </div><br>
    <div class="row">
      <div class="col l2 col s12">
        <b>Otras</b><br><br>
        <div>
          <input type="radio" class="with-gap" name="othersTr" <% if (history.othersTr == "si") { %> checked <% } %> id="othersTr-si" value="si"/>
          <label for="othersTr-si">Si</label>
        </div><br>
        <div>
          <input type="radio" class="with-gap" name="othersTr" <% if (history.othersTr == "no") { %> checked <% } %> id="othersTr-no" value="no"/>
          <label for="othersTr-no">No</label>
        </div>
      </div>
      <div class="input-field col l10 col s12">
        <i class="material-icons prefix">chat</i>
        <textarea id="othersTrReasons" name="othersTrReasons" value="<%= history.othersTrReasons %>" class="materialize-textarea"></textarea>
        <label for="othersTrReasons">Observaciones</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col l10 col s12">
        <i class="material-icons prefix">note</i>
        <textarea id="quir" name="quir" value="<%= history.quir %>" class="materialize-textarea"></textarea>
        <label for="quir">Quirúrgicos</label>
      </div>
      <div class="input-field col l10 col s12">
        <i class="material-icons prefix">note</i>
        <textarea id="trauma" name="trauma" value="<%= history.trauma %>" class="materialize-textarea"></textarea>
        <label for="trauma">Traumatolǵicos</label>
      </div>
      <div class="input-field col l10 col s12">
        <i class="material-icons prefix">note</i>
        <textarea id="allergy" name="allergy" value="<%= history.allergy %>" class="materialize-textarea"></textarea>
        <label for="allergy">Alérgicos</label>
      </div>
      <div class="input-field col l10 col s12">
        <i class="material-icons prefix">note</i>
        <textarea id="otherPat" name="otherPat" value="<%= history.otherPat %>" class="materialize-textarea"></textarea>
        <label for="otherPat">Otros</label>
      </div>
    </div>
  </div>
  <div class="row center col l12 m12 s12">
    <input type="submit" name="enviar" class="waves-effect waves-light btn cyan darken-2" value="GUARDAR">
  </div>
</form>
