<div class="row">
  <hr>
  <center><label><h4>REGISTRO EPS</h4></label></center><br><br>
</div>
<div class="row">
  <div class="input-field col l6">
    <input type="text" name="nit" value="<%= manageUser.documentNumber %>" class="validate">
    <label for="nit">NIT </label>
  </div>
  <div class="input-field col l6">
    <input type="text" name="nameEps" id="nombre" class="validate" value="<%= manageUser.names %>" pattern="[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
    <label for="nombre">Nombre o Razón Social </label>
    <input type="hidden" name="ident" value="<%= manageUser.id %>">
  </div>
</div>
<div class="row">
  <div class="input-field col l6">
    <input type="text" name="mailEps" id="correo" value="<%= manageUser.email %>" class="validate"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    <label for="correo">Correo </label>
  </div>
  <div class="input-field col l6">
    <input type="text" name="phoneEps" id="telefono" pattern="[0-9]+" value="<%= manageUser.epsPhone %>" class="validate">
    <label for="telefono">Telefono </label>
  </div>
</div>
<div class="row">
  <div class="input-field col l6">
    <input type="text" name="addressEps" id="direccion" value="<%= manageUser.address %>" class="validate">
    <label for="direccion">Dirección </label>
  </div>
  <div class="col l6">
    <label >Estado de la Cuenta </label>
    <select name="state">
      <option value="1" <% if (manageUser.accept == 1) { %> selected <% } %> >Activada</option>
      <option value="2" <% if (manageUser.accept == 2) { %> selected <% } %> >Desactivada</option>
    </select>
  </div>
</div>
<div class="row"><h5>Persona Responsable</h5></div>
<div class="row">
  <div class="col l6">
    <label >Tipo de Documento </label>
    <select name="typeDocument">
      <option value="cédula-de-ciudadanía" <% if (manageUser.documentType == 'cédula-de-ciudadanía') { %> selected <% } %> >
      Cédula de Ciudadanía
      </option>
      <option value="cédula-de-extranjería" <% if (manageUser.documentType == 'cédula-de-extranjería') { %> selected <% } %> >
      Cédula de Extranjería
      </option>
      <option value="pasaporte" <% if (manageUser.documentType == 'pasaporte') { %> selected <% } %> >Pasaporte
      </option>
      <option value="id" <% if (manageUser.documentType == 'id') { %> selected <% } %> >
      Id
      </option>
    </select>
  </div>
  <div class="input-field col l6">
    <input type="text" name="numDocument" id="numDocumento" value="<%= manageUser.documentNumberPerson %>" class="validate">
    <label for="numDocumento">N° de Documento </label>
  </div>
</div>
<div class="row">
  <div class="input-field col l6">
    <input type="text" name="names" id="nombre" class="validate" value="<%= manageUser.namesPerson %>" pattern="[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
    <label for="nombre">Nombres </label>
  </div>
  <div class="input-field col l6">
    <input type="text" name="lastnames" id="apellidos" class="validate" value="<%= manageUser.lastnames %>" pattern="[A-Za-zñÑáÁéÉíÍóÓúÚüÜ ]+">
    <label for="apellidos">Apellidos </label>
  </div>
</div>
<div class="row">
  <div class="col l6">
    <label >Género </label>
    <select name="gender">
      <option value="masculino" <% if (manageUser.gender == 'masculino') { %> selected <% } %> >Masculino</option>
      <option value="femenino" <% if (manageUser.gender == 'femenino') { %> selected <% } %> >Femenino</option>
    </select>
  </div>
  <div class="input-field col l6">
    <input type="text" id="telefono" name="phone" class="validate" value="<%= manageUser.phone %>" pattern="[0-9]+">
    <label for="telefono">Telefono </label>
  </div>
</div>
<div class="row">
  <div class="input-field col l6">
    <input type="password" name="pwd" id="pwd" class="validate"
      pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
    <label for="pwd">Nueva Contraseña </label>
  </div>
  <div class="input-field col l6">
    <input type="password" name="cpwd" id="cpwd" class="validate"
      pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$">
    <label for="cpwd">Confirmar Contraseña</label>
  </div>
</div>
