<div class="row center">
  <h3>Roles de <%= pendingRoles.names %></h3>
</div>
<form action="/users/<%= session.user.id %>/<%= session.user.rol.name %>/manage/editRol" method="get">
  <input type="hidden" name="rolName" value="<%= pendingRoles.names %>">
  <input type="hidden" name="rolNum" value="<%= pendingRoles.documentNumber %>">
  <div class="row">
    <div class="col l8 offset-l2 col m12 col s12">
      <select name="rolesList">
        <% for (var user in pendingRoles.rol) { %>
          <option value="<%= pendingRoles.rol[user].name %>">
            <% if(pendingRoles.rol[user].name == 'paciente') { %>
              Paciente
            <% } else { %>
              Médico <%= (pendingRoles.rol[user].name).split('medico')[1] %>
            <% } %>
          </option>
        <% } %>
      </select>
    </div>
  </div>
  <div class="row center">
    <input type="submit" class="btn waves-effect waves-light cyan darken-2" name="editRol" value="EDITAR">
  </div>
</form>
